<?xml version="1.0"?>
<launch>   

  <node pkg="bras_robot" type="slider.py" name="tutu" output="screen"> </node>

  <node pkg="bras_robot" type="listener_node3" name="titi" output="screen"></node>  
  <node pkg="rosserial_python" type="serial_node.py" name="arduino" output="screen">
  <param name="port" type="string" value="/dev/ttyACM0"/> 
  <param name="baud" value="9600"/> </node>
<arg name="model" default="$(find urdf_bras)/urdf/bras.urdf"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find urdf_bras)/rviz/urdf.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!--node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /-->
  <!--node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
      
</launch>
