<?xml version="1.0"?> 
<launch>
   <!--<node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">
        <param name="flip_image" value="false" />
        <param name="device_path" value="/dev/video0" />

    </node>-->


    <!--<node name="rosbag_record" pkg="rosbag" type="record" args="-O //home/ros/catkin_ws/src/ROBOCUP2024/src/videotest.bag /cv_camera/image_raw" output="screen"/>-->
    <!--<node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">
        <param name="flip_image" value="false" />
        <param name="device_path" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />

    </node>-->

    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_node" name="titi" output="screen"></node>-->


    <!--<node pkg="urg_node" type="urg_node" name="hokuyo_node" output="screen"><param name="device_path" value="/dev/ttyACM0"/></node>
    <node pkg="ROBOCUP2024" type="ROBOCUP2024_odometrie_node" name="titi" output="screen"></node>-->
    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_Exploration_auto_node" name="titi" output="screen"></node>-->


    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_recuperation_data_auto_node" name="titi" output="screen"></node>-->


    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_copie_trajet_node" name="titi" output="screen"></node>-->


    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_Exploration_2_Points_node" name="titi" output="screen"></node>-->




    <node pkg="urg_node" type="urg_node" name="hokuyo_node" output="screen"><param name="device_path" value="/dev/ttyACM0"/></node>
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="false"/>
[12:00]
<node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>

  <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_Exploration_automatique_intelligente_node" name="titi" output="screen"></node>-->

    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_Exploration_Reward_node" name="titi" output="screen"></node>-->

    <!--<node pkg="ROBOCUP2024" type="ROBOCUP2024_testlidar_node" name="titi" output="screen"></node>-->

    <node pkg="ROBOCUP2024" type="ROBOCUP2024_Exploration_Publisher_node" name="titi" output="screen"></node>

</launch>
